<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Analysis text</h1>
    <form action="/analyze" method="get">
      <textarea name="text" id="" cols="30" rows="20"></textarea><br />
      <input type="checkbox" name="removepunc" id="" />Remove punctuation
      <br /><br />
      <button type="submit">Analysis</button>
    </form>
  </body>
</html>
